<!-- add count method later on -->
<h2>7 Members</h2>

<% facade.members.each do |member| %>
<ul class="member">
  <li class="name"><%= member.name %></li>
  <li class="id"><%= member.id %></li>
</ul>
<% end %>
